html, body, #__next, main {height:100%}

main {
    max-width: 750px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

a {
    color: #0073bb;
    text-decoration: none;
}
