.tileCell {
  position: relative;
}

.tileImg {
  object-fit: contain;
  width: 100%;
}

.markedImg {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  width: 100%;
}

.addYourOwnDetailsDiv {
  position: absolute;
  /* Trick for centering text is from
     https://css-tricks.com/centering-css-complete-guide/. */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -38%);
}

.addYourOwnDetailsDiv p {
  text-align: center;
  font-family: "Neucha", cursive;
  line-height: 1;
  font-size: 3vw;
}

@media (min-width: 600px) {
  .addYourOwnDetailsDiv p {
    font-size: 18px;
  }
}
